
@{
    ViewBag.Title = "AdminHome";
}



<div class="jumbotron">
    <h2>ADMIN PAGE</h2>
    <p class="lead">Admin has to manage the entire Cinestar portal.</p>

</div>

<div class="row   p-l-55 p-r-55 p-t-400 p-b-30" style="color:#eee">
    <div class="col-md-4" style="width:50%">
        <h2 >Customise Movies</h2>
        <img src="~/movieicon.png" />
        <p style="color:#eee">
            Admin can add, update, delete a movie.
        </p>
        <p><a class="btn btn-default" href="/Admins/Index">Click me!  &raquo;</a></p>
    </div>
    <div class="col-md-4" style="width:50%">
        <h2>Customise Genres</h2>        
        <img src="~/movieicon.png" />

        <p style="color:#eee">Admin can add and delete a genre.</p>
        <p><a class="btn btn-default" href="/Admins/IndexGenre">Click me! &raquo;</a></p>
    </div>
    <br /><br /><br /><br />  <br /><br /><br /><br />  <br /><br /><br /><br />
    <div class="col-md-4" style="width:50%"> 
        <h2>Shows </h2>        
        <img src="~/movieicon.png" />

        <p style="color:#eee">Admin can  update and delete a Show.</pstyle="color:#eee">
        <p><a class="btn btn-default" href="/Admins/IndexShowAdmin">Click me! &raquo;</a></p>
    </div>
    <div class="col-md-4" style="width:50%">
        <h2>Reports </h2>
        <img src="~/report.png" />
        <p style="color:#eee">Admin can  view ticket and feedback reports.</p>
        <p><a class="btn btn-default" href="/Admins/GenerateReport">Click me! &raquo;</a></p>
    </div>
</div>