
@{
    ViewBag.Title = "SelectLogin";
}



<div class="jumbotron">
    <h2>SELECT LOGIN </h2>
    <p class="lead">Admin has to manage the entire Cinestar portal.</p>
    <p class="lead">User can book tickets using Cinestar portal.</p>

</div>

<div class="row text-center wrap-login100" style=" width:100%">
    <div class=" col-md-6 text-center " >
        <h2 style="color:white"> User Login</h2>

        <img src="~/user.png" class="text-center" />
        <p><a class="btn btn-default text-center" href="/Users/LogIn">Login &raquo;</a></p>
    </div>
    <div class="col-md-6 text-center" >
        <h2 style="color:white"> Admin Login</h2>

        <img src="~/admin.png" class="text-center" />
        <p><a class="btn btn-default text-center" href="/Admins/AdminLogIn">Login &raquo;</a></p>
    </div>

</div>
<script src="~/Content/main.css"></script>
<script src="~/Content/util.css"></script>
